# Dependencias locales
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Builds de Next.js
.next
out

# Archivos de configuración locales
.env
.env.local
.env.development
.env.production
.env.test

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Tests y coverage
coverage
__tests__/
