services:
  db:
    image: postgres:14.3
    container_name: desafio-uno-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./postgres:/var/lib/postgresql/data

  backend:
    build:
      context: ../backend
      dockerfile: ../infra-docker/Backend/Dockerfile
    container_name: backend-desafio
    env_file:
      - .env
    ports:
      - "3001:3001"
    depends_on:
      - db

  frontend:
    build:
      context: ../frontend
      dockerfile: ../infra-docker/frontend/Dockerfile
    container_name: frontend-desafio
    ports:
      - "3000:3000"
    depends_on:
      - backend
